.display-example{
    border: 1px solid #c8c8c8;
    margin-top:10px;
}

.block-example {
    background-color: yellow;
    line-height: 30px;
    padding-top: 10px;
}

.block-example span {
    background: lightblue;
    /* height:100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:20px;
    margin-right:20px;
    padding: 5px;
    display: inline-block; */
}

.flex-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 50%;
    flex-wrap: wrap;
     */
}

.flex-item {
    /* flex: 1; */
    /* min-width: 150px; */
}