.table{
    text-align: left;
}

.cell{
    padding: 8px;
    width: 200px;
}

.cell{
    max-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column2-header{
    margin-left: 20px;
}

.column3-header{
    margin-left: 20px;
}

.column3 .cell{
    background-color: #dddddd;
    border: black 1px solid;
}

.column3 .cell:nth-child(1){
    height: 20px;
    line-height: 1px;
}

.column3 .cell:nth-child(2){
    height: 1px;
    line-height: 1px;
}

.column3 .cell:nth-child(3){
    height: 10px;
    line-height: 20px;
}

.column1 .cell:nth-child(even) {
    background-color: #dddddd;
}

.column1 .cell:nth-child(odd) {
    background-color: #f2f2f2;
}

.column2 .cell:nth-child(3) {
    background-color: #dddddd;
}

.column2 .cell:nth-child(1) {
    background-color: #dddddd;
}

.column2 .cell:nth-child(5) {
    background-color: #dddddd;
}

.table-content{
    display: flex;
}